// Font Setup
@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro/GothamPro.woff);
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url(../fonts/GothamPro/GothamPro-Bold.woff);
}

@font-face {
    font-family: 'Gotham Pro Black';
    src: url(../fonts/GothamPro/GothamPro-Black.woff);
}

@font-face {
    font-family: 'Circe Extra Bold';
    src: url(../fonts/Circe/Circe-ExtraBold.woff);
}

@font-face {
    font-family: 'Circe Regular';
    src: url(../fonts/Circe/Circe-Regular.woff);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gotham Pro';
}

html,
body {
    height: 100%;
}

// a {
//     font-family: inherit;
//     font-style: inherit;
//     font-size: inherit;
//     font-weight: inherit;
//     line-height: inherit;
//     color: inherit;
//     text-decoration: none;
// }

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header__elements {
    display: flex;
}

.header__broadcast-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 238px;
    padding: 36px 0 31px 0;
    background: black;
    flex-shrink: 0;
    cursor: pointer;
    transition: .2s;

    p {
        margin-top: 8px;
        color: white;
        font-size: 13px;
        font-weight: 400;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.8);
    }
}

.header__info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 11px 63px 13px 52px;

    h3 {
        font-size: 13px;
        font-weight: 600;
        color: #222222;

        &.menu-underlined {
            position: relative;

            &:not(:last-of-type) {
                padding-right: 14px;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: -6px;
                right: 0;
                display: block;
                width: 100%;
                height: 2px;
                background: #217AFF;
                transition: .2s;
            }

            &:hover::before {
                background: #001B44;
            }
        }
    }

    button {
        display: grid;
        place-items: center;
        padding: 8px 17px 8px 21px;
        background: #217AFF;
        border: 0;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background: #001B44;
        }
    }
}

.header__bottom-row {
    display: flex;
    height: 100%;
    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;
}

.logo-container {
    display: grid;
    place-items: center;
    padding: 26px 25px 23px 33px;
    border-right: 1px solid #959595;
    font-size: 40px;
}

.stocks-info-container {
    display: flex;
    align-items: center;
    padding: 17px 17px 19px 33px;

    h2 {
        width: 106px;
        font-size: 15px;
        font-family: 'Gotham Pro Bold';
    }

    .stock-info {
        display: flex;
        flex-direction: column;

        h6 {
            font-size: 8px;
        }

        p,
        span {
            font-family: 'Circe Extra Bold';
            font-size: 13px;
        }

        span {
            margin-top: -4px;
        }

        span.stock-negative {
            color: #FF1A27;
        }

        span.stock-positive {
            color: #217AFF;
        }

        &:not(:first-of-type) {
            margin-left: 27px;
        }

        &:first-of-type {
            margin-left: 42px;
        }
    }
}

.content__elements {
    display: flex;
}

.left-sidebar {
    padding-top: 15px;
    flex-shrink: 0;
    z-index: 1;
}

.news-container {
    display: flex;
    flex-direction: column;
    padding: 19px 15px 20px 28px;
    width: 238px;
    border-radius: 9px;
    border-top: 8px solid #217AFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    h2 {
        font-size: 16px;
        font-family: 'Gotham Pro Bold';
        text-transform: uppercase;
    }
}

.news-switcher {
    margin-top: 14px;
    display: flex;

    button {
        display: grid;
        place-items: center;
        padding: 8px 11px 9px 12px;
        border: 1px solid #E1E1E1;
    }

    button:nth-child(1) {
        border-right: 0;
        background: #217AFF;
        color: #FFFFFF;
    }

    button:nth-child(2) {
        background: transparent;
        transition: .2s;

        &:hover {
            background: #217AFF;
            color: #FFFFFF;
        }
    }
}

.news-post-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    h3 {
        font-weight: normal;
        font-size: 14px;
    }

    p {
        font-weight: normal;
        font-size: 12px;
        color: #959595;
    }

    &:first-of-type {
        margin-top: 17px;
    }

    &:not(:first-of-type) {
        margin-top: 25px;
    }
}

.post-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;

    span {
        color: #217AFF;
        font-family: 'Gotham Pro Bold';
        cursor: pointer;
    }

    span.black {
        color: black;
    }

    strong {
        font-family: 'Gotham Pro Black';

        span {
            font-family: 'Gotham Pro Black';
        }
    }

    .send-application {
        margin: 45px auto 75px auto;
    }
}

.post-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 271px 24px 21px 24px;
    background: url(../images/photos/post-header__bg.png);
    background-size: cover;
}

.post-type {
    display: grid;
    place-items: center;
    width: fit-content;
    padding: 3px 20px 3px 17px;
    background: #217AFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    color: white;
    border-radius: 20px;
}

.post-data {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    column-gap: 5px;
}

.post-heading {
    margin-top: 34px;
    font-family: 'Gotham Pro Bold';
    font-size: 36px;
}

.post-content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px;

    p {
        font-size: 20px;
        line-height: 140%;
    }

    h4 {
        font-size: 24px;
        margin-bottom: 39px;
    }

    img {
        margin: 24px 0;
    }
}

.send-application {
    margin: 0 auto;
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 500px;
    background: #217AFF;
    border-radius: 7px;
    font-family: 'Gotham Pro Black';
    text-transform: uppercase;
    font-size: 20px;
    border: 0;
    color: white;
    padding: 13px;
    transition: .2s;
    cursor: pointer;

    &:hover {
        background: #001B44;
    }
}

.post-comments {
    margin-top: 65px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px;

    h2 {
        font-family: 'Circe Regular';
        font-size: 20px;
        text-transform: uppercase;
    }
}

.post-comment {
    margin-top: 63px;
    display: flex;
    column-gap: 56px;
    width: 100%;

    img {
        height: fit-content;
    }

    &:first-of-type {
        margin-top: 43px;
    }

    strong {
        font-family: 'Gotham Pro';
        font-weight: bold;
        font-size: 18px;
        color: #4D4D4D;
    }

    span.small {
        font-family: 'Gotham Pro';
        color: #217AFF;
        font-weight: bold;
    }

    p {
        margin-top: 7px;
        font-size: 20px;
        line-height: 140%;
    }
}


.right-sidebar {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.vocabulary-container {
    display: flex;
    flex-direction: column;
    width: 355px;
    padding: 19px 20px 23px 22px;
    border-radius: 9px;
    border-top: 8px solid #217AFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    h2 {
        font-size: 16px;
        font-family: 'Circe Extra Bold';
        text-transform: uppercase;
        margin-left: 7px;
    }

    .vocabulary-term {
        padding: 13px 7px;
        font-size: 18px;
        border-bottom: 1px solid #959595;
        cursor: pointer;

        &:first-of-type {
            font-size: 24px;
            font-weight: bold;
        }

        &:not(:first-of-type) {
            font-family: 'Circe Regular';
        }

        &:last-of-type {
            padding-bottom: 0;
            border: 0;
            font-family: 'Circe Extra Bold';
        }
    }
}

.important-news-container {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    width: 355px;
    padding: 19px 20px 23px 22px;
    border-radius: 9px;
    border-top: 8px solid #217AFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    h2 {
        font-size: 16px;
        font-family: 'Circe Extra Bold';
        text-transform: uppercase;
        margin-left: 7px;
    }

    .important-news-post {
        display: flex;
        flex-direction: column;
        padding: 13px 7px;
        font-size: 16px;
        border-bottom: 1px solid #959595;
        cursor: pointer;

        span {
            margin-top: 7px;
            font-size: 12px;
            color: #217AFF;
            font-family: 'Gotham Pro Bold';
            text-transform: uppercase;
        }

        &:first-of-type {
            font-weight: bold;
        }

        &:last-of-type {
            padding-bottom: 0;
            border: 0;
        }
    }
}

.footer__elements {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 12px;
    width: 100%;
    padding: 36px 20px 100px 20px;
    background: #001B44;
    color: white;
    font-size: 13px;

    h2 {
        font-size: 13px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: #959595;
    }
}

.footer__column {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    small {
        font-size: 11px;
        color: #4D60A1;
        font-family: 'Circe Regular';
        padding-right: 40%;
    }

    h2, p {
        cursor: pointer;
    }
}

@media screen and (max-width: 1460px) {
    .container {
        width: 100%;
    }

    .vocabulary-container {
        width: 335px;
    }

    .important-news-container {
        width: 335px;
    }
}

@media screen and (max-width: 1439px) {
    .container {
        width: 1024px;
    }

    .left-sidebar, .right-sidebar {
        display: none;
    }

    .header__broadcast-block {
        display: none;
    }

    .header__top-row {
        padding: 12px;
    }

    .stocks-info-container h2 {
        width: 70px;
    }

    .stocks-info-container .stock-info:first-of-type {
        margin-left: 24px;
    }

    .logo-container {
        background: #217AFF;
        color: white;
    }

    .footer__elements {
        width: 100%;
    }

    .footer__column small {
        padding: 0;
    }

    .post-content {
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1050px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        width: 100%;
    }
    
    .stocks-info-container {
        display: none;
    }

    .logo-container {
        border: 0;
    }

    .header__bottom-row {
        order: -1;
        justify-content: center;
        border: 0;
    }

    .header__top-row {
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 12px;
        row-gap: 12px;

        button {
            display: none;
        }
    }

    .post-content {
        img {
            width: 100%;
        }
    }

    .post-comment {
        column-gap: 24px;
    }

    .footer__elements {
       display: flex;
       flex-wrap: wrap;
       row-gap: 24px;

       .footer__column {
           width: 100%;
           justify-content: center;
           text-align: center;
       }
    }
}

@media screen and (max-width: 767px) {
    .post-header {
        padding-top: 32px;
    }

    .post-data {
        background: #217AFF;
        border-radius: 20px;
        color: white;
        padding: 6px 12px;
        width: fit-content;

        img {
            filter: brightness(0) invert(1);
        }
    }

    .post-heading {
        font-size: 24px;
    }

    .post-content p {
        font-size: 16px;
    }
    
    .post-content h4 {
        font-size: 18px;
    } 

    .post-comment {
        margin-top: 32px;

        p {
            font-size: 16px;
        }

        strong {
            font-size: 16px;
        }

        img {
            width: 48px;
            height: 48px;
        }
    }

    article section {
        width: 100%;
        padding: 0 24px;
    }
}